<span>Staff Signup</span>
<%= form_for :user, :url => staffs_path, :method => "post" do |f| %>
  <br><%= f.text_field :first_name, :placeholder => "First Name*", :required => true %>
  <br><%= f.text_field :last_name, :placeholder => "Last Name*", :required => true %>
  <br><%= f.text_field :email, :placeholder => "Email*", :required => true %>
  <br><%= f.password_field :password, :placeholder => "Password*", :required => true %>
  <br><%= f.text_field :location, :placeholder => "Location (city)*", :required => true %>
  <br><%= f.text_field :phone, :placeholder => "Phone Number" %>
  <br><%= f.text_field :company_name, :placeholder => "Company Name" %>
  <br><%= f.text_field :github_handle, :placeholder => "Github Username" %>
  <br><%= f.text_field :facebook_url, :placeholder => "Facebook URL" %>
  <br><%= f.text_field :linkedin_url, :placeholder => "LinkedIn URL" %>
  <br><%= f.text_field :tumblr_url, :placeholder => "Tumblr URL" %>
  <br><%= f.text_field :twitter_url, :placeholder => "Twitter URL" %>
  <br><%= f.submit "Signup" %>
<% end %>
