<div class="questions-grouped">
<% if @works_at_company == true %>
  <%= link_to "New Question", new_company_question_path(params[:company_id]) %> <br/><br/>
<% end %>

<% if @answers.length > 0 %>

  <%= form_for :answers, :url => answers_path do |f| %>
    <% @answers.each do |answer| %>
      <div class="question-answer">
      <% @answer = answer %>
      <% if answer.question.status == "active"%>
        <%= answer.question.text %>
      <% end %>
      <% if @works_at_company == true && answer.question.status == "active" %>  
        <%= button_to "Delete", company_question_path(params[:company_id], answer.question.id), :method => :put %>
      <% end %>
    
      <br><br>
      <% if answer.question.status == "active"%>
        <% unless current_user.groupable_type == "Company" %>
          <%= fields_for "answer[]" do |answer| %>
            <%= answer.text_field :text, :rows => 10%>
            <%= answer.hidden_field :question_id %> 
            <br><br>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% end %>
    <div class="question-submit">
      <% unless current_user.groupable_type == "Company" %>
        <%= f.submit "Submit" %>
      <% end %>
    </div>
  <% end %>
  
<% end %>
</div>
