<span class="category-title">Companies</span><br>
<table class="admin_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Logo</th>
      <th>Location</th>
      <th>Initial Contact Email</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% companies.each do |company| %>
    <tr>
      <th><%= company.name %></th>
      <th><%= company.website %></th>
      <th><%= company.logo %></th>
      <th><%= company.location %></th>
      <th><%= company.initial_email_contact %></th>
      <!-- Switch out for the update_company_status_buttons partial to toggle the company's visibility when needed -->
      <th><%= company.status %></th>
      <th><%= render partial: 'companies/update_company_activation_buttons', locals: { company: company } %></th>
    </tr>
    <% end %>
  </tbody>
</table>
