<span class="category-title">Companies</span><br>
<table class="admin_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Logo</th>
      <th>Location</th>
      <th>Initial Contact Email</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% companies.each do |company| %>
    <tr>
      <th><%= company.name %></th>
      <th><%= company.website %></th>
      <th><%= company.logo %></th>
      <th><%= company.location %></th>
      <th><%= company.initial_email_contact %></th>
      <th><%= company.status %></th>
    </tr>
    <% end %>
  </tbody>
</table>
