<span class="category-title">To-do</span><br>
<table class="admin_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>User ID</th>
      <th>Email</th>
      <th>Belongs to</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <% if user.activated == nil %>
      <tr>
        <th><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></th>
        <th><%= user.id %></th>
        <th><%= user.email %></th>
        <th><%= user.groupable.name %></th>
        <th><%= render partial: 'users/update_activation_buttons', locals: { user: user } %></th>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
