<span class="category-title">To-do</span><br>
<table class="admin_table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>ID</th>
      <th>Active?</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <% if user.activated == nil %>
      <tr>
        <th><%= user.class %></th>
        <th><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></th>
        <th><%= user.id %></th>
        <th><%= render partial: 'users/update_activation_buttons', locals: { user: user } %></th>
      </tr>
      <% end %>
    <% end %>
    <% companies.each do |company| %>
      <% if company.activated == nil %>
      <tr>
        <th><%= company.class %></th>
        <th><%= link_to company.name, company_path(company) %></th>
        <th><%= company.id %></th>
        <th><%= render partial: 'companies/update_company_activation_buttons', locals: { company: company } %></th>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
