<%= image_tag "devbootcamp.png", :size => "206x97" %>
<span>Student Signup</span>
<%= form_for :user, :url => users_path, :method => "post" do |f| %>
<%= f.text_field :first_name, :placeholder => "First Name" %>
<%= f.text_field :last_name, :placeholder => "Last Name" %>
  <%= f.text_field :email, :placeholder => "Email" %>
  <%= f.password_field :password, :placeholder => "Password" %>
  <%= f.hidden_field :groupable_type, :value => "Cohort" %>
  <%= f.collection_select :groupable_id, Cohort.all, :id, :name %>  
  <%= f.submit "Signup" %>
<% end %>
