<h1 id="students_home">Students Home</h1>

<% @employers = User.where(:groupable_type => 'Company') %>

<div>
  <button class="clear" >Clear Filters</button>
  
  <br>
  <br>
  
  <h2>Employer Filters</h2>
  <div> 
    <h3>Status</h3>
    <button class="filters">Available</button><br><br>
  </div>

  <div>
    <h3>Locations</h3>
    <% @employers.group('location').select('location').where("location IS NOT NULL").each do |employer| %>
      <button class="filters" id="<%= employer.location %>"><%= employer.location %></button><br><br>
    <% end %>
  </div>

  <div>
    <h3>Companies</h3>
    <% @employers.group('groupable_id').each do |employer| %>
      <button class="filters" id="<%= employer.groupable.name %>"><%= employer.groupable.name %></button><br><br>
    <% end %>
  </div>
</div>

<div>
  <h2>Employers</h2>
  <ul class="employer_list">
    <% @employers.each do |employer| %>
      
      <li id="<%=employer.id%>"
          data-location="<%= employer.location %>"
          data-cohort="<%= employer.groupable.name %>"
          data-status="<%= employer.status %>"
          data-last-login="<%= employer.last_login %>"
      >
        <div class="user-div">
          <%= employer.last_name %>, <%= employer.first_name %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
