<h1 class="user_home">Edit Profile</h1>
<div class="card_layout">
  <div id="profile_gravatar">
   <%= form_for(@user, :html => { :class => "edit" }) do |f| %>
   <p><%= user.first_name %> <%= user.last_name %></p>
   <p><%= f.text_field :location, placeholder: "Location",:size =>12, :maxlength =>25,:style => "text-align:center" %></p>
   <p><%= gravatar_image_tag user.email %></p>
   <p><%= user.groupable.name if user.groupable %></p>
   <p>Graduated: <%= user.graduation_date %></p>
     <button><% f.submit %>Submit Changes</button>
 </div>

 <div id="user_info_edit">
  <p><%= f.email_field :email, placeholder: "Email" %> Email</p>
  <p><%= f.text_field :phone, placeholder: "Phone" %> Phone</p>
  <p><%= f.text_field :facebook_url, placeholder: "Facebook URL" %> FaceBook URL</p>
  <p><%= f.text_field :github_handle, placeholder: "Github Handle" %> Github Handle</p>
  <p><%= f.text_field :linkedin_url, placeholder: "LinkedIn URL" %> LinkedIn URL</p>
  <p><%= f.text_field :tumblr_url, placeholder: "Tumblr URL" %> Tumblr URL</p>
  <p><%= f.text_field :twitter_url, placeholder: "Twitter URL" %> Twitter URL</p>
  <div class="user_intro">
    <p>Bio: </p><p><%= f.text_area :intro, :size => "30x3", placeholder: "Write a short intro for employers and alumni to see." %></p>
   <% end %>
 </div>
</div>
</div>

<div id="repo_area">
<% if @repos %>
<table class="all_repos">
  <% @repos.each do |repo| %>
  <tr>
    <td data-url=<%=repo[1]%> data-name=<%=repo[0]%>><%= repo[0] %></td>
  </tr>
  <%end%>
</table>
<% end %>

<div id='my_top_5'>
  <table id="github_list_showing" class="selected_repos">
    <tr>
      <td>Drag your top 5 repos that you are proud of for employers to see on your profile.</td>
    </tr>
    <% if @current_top_5 %>
      <% @current_top_5.each do |repo| %>
    <tr>
      <td data-url=<%=repo.url %> data-name=<%=repo.name%>><%="#{repo.name}"%></td> 
     </tr>
     <% end %>
     <% end %>
  </table>
  <%= form_for @user, :url => user_github_path(@user), method: 'post', html: { :class => 'git_save', :id=>current_user.id } do |f| %>
<%= f.submit "Submit", :disable_with => 'Top 5 Saved' %>
<p id='git_error'>Sorry Brah Only 5 Top Repos Allowed</p>
</div>
</div>
<% end %>

