<div id="profile_gravatar">
<p><%= user.first_name %> <%= user.last_name %></p>
<p><%= user.location %></p>
<p><%= gravatar_image_tag user.email %></p>
<p><%= user.groupable.name if user.groupable %></p>
<p>Graduated: <%= user.graduation_date %></p>
</div>

<div>
<%= form_for(@user, :html => { :class => "edit" }) do |f| %>
<p>Github Handle: </p><%= f.text_field :github_handle, placeholder: "Github Handle" %>
<p>Email:</p><%= f.email_field :email, placeholder: "Email" %>
<p>Phone:</p> <%= f.text_field :phone, placeholder: "Phone" %>
<p>Location: </p><%= f.text_field :location, placeholder: "Location" %>
<p>Bio: </p><%= f.text_area :intro, :size => "15x10", placeholder: "Write a short intro for employers and alumnis to see." %>
<button class="btn"><% f.submit %> Update Profile &raquo;</button>
<% end %>
</div>


<div>
  <%= form_for @user, :url => user_github_path(@user), method: 'post', html: { :class => 'git_save', :id=>current_user.id } do |f| %>
  <table id="github_list_showing" class="selected_repos">
    <tr>
      <td>Drag your top 5 repos that you are proud of for employers to see on your profile.</td>
    </tr>
  </table>
  <%= f.submit "Submit"%>
  <% end %>
</div>
<% if @repos %>
<table class="all_repos">
  <% @repos.each do |repo| %>
  <tr>
    <td><%= repo[0] %></td>
  </tr>
  <%end%>
</table>
<% end %>
