<div id="profile_gravatar">
<p><%= user.first_name %> <%= user.last_name %></p>
<p><%= user.location %></p>
<p><%= gravatar_image_tag user.email %></p>
<p><%= user.groupable.name if user.groupable %></p>
<p>Graduated: <%= user.graduation_date %></p>
</div>

<div id="user_info">
<p>Phone Number: <%= user.phone %></p>
<p>Email: <%= user.email %></p>
<p>Bio: <%= user.intro %></p>
