<div class="card_layout">
	<div id="profile_gravatar">
		<p><%= user.first_name %> <%= user.last_name %></p>
		<p><%= user.location %></p>
		<p><%= gravatar_image_tag user.email %></p>
		<p><%= user.groupable.name if user.groupable %></p>
		<p>Graduated: <%= user.graduation_date %></p>
		<% if current_user.id == @user.id %>
		<p><%= link_to "Edit my profile", edit_user_path(current_user) %></p>
		<% end %>
	</div>

	<div id="user_info">
	<% if user.phone %><p>Phone: <%= user.phone %></p><% end %>
	<% if user.facebook_url %><p>Facebook: <%= link_to "#{user.facebook_url}", "http://#{user.facebook_url}" %></p><% end %>
	<% if user.github_handle %><p><%= image_tag('github_logo.png') %> Github: <%= link_to "#{user.github_handle}", "http://github.com/#{user.github_handle}" %></p><% end %>
	<% if user.linkedin_url %><p><%= image_tag('linked_in.png') %> LinkedIn: <%= link_to "#{user.linkedin_url}", "http://#{user.linkedin_url}"  %></p><% end %>
	<% if user.tumblr_url %><p><%= image_tag('tumblr.png') %> Tumblr: <%= link_to "#{user.tumblr_url}", "http://#{user.tumblr_url}" %></p><% end %>
	<% if user.twitter_url %><p><%= image_tag('twitter.png') %> Twitter: <%= link_to "#{user.twitter_url}", "http://#{user.twitter_url}" %></p><% end %>
		<div class="user_intro">
		<% if user.intro %><p>Bio: <%= user.intro %></p><% end %>
		</div>
	</div>
</div>
<% if user.git_hub_selections.length > 0 %>
  <div id='my_top_5'>
  <table id="github_list_showing" class="selected_repos">
    <tr>
      <td>Links to this grad's work on<%= image_tag("github_logo.png")%> GitHub are listed below</td>
    </tr>
    <% if @current_top_5 %>
      <% @current_top_5.each do |repo| %>
    <tr>
      <td data-url=<%=repo.url %> data-name=<%=repo.name%>><%= link_to "#{repo.name}", repo.url %></td>
     </tr>
     <% end %>
     <% end %>
  </table>
  <% if user == current_user %>
    <%= form_for @user, :url => user_github_path(@user), method: 'post', html: { :class => 'git_save', :id=>current_user.id } do |f| %>
      <%= f.submit "Submit", :disable_with => 'Top 5 Saved' %>
      <p id='git_error'>Choose your top five repos.</p>
      <% end %>
  <% end %>
  </div>
<% end %>


<div class="connect-button">
<% if current_user.interests.select{|interest| interest.id == user.id }.empty? %>
		<% if user.id != current_user.id %>
			<%= form_for @interest , :url => connect_students_path, :method => 'post' do |f| %>
				<%= f.hidden_field :pitcher_id, :value => current_user.id %>
				<%= f.hidden_field :catcher_id, :value => user.id %>
				<% if current_user.groupable_type == 'Cohort' %>
					<button class="connect_button">Connect<% f.submit %></button>
				<% elsif current_user.groupable_type == 'Company'  %>
					<button class="connect_button lettuce-intro">Let us introduce you<% f.submit %></button>
				<% end %>
			<% end %>
		<% end %>
		<% else %>
			<% if pitcher_interest %>
				<%= pitcher_interest.created_at.strftime("You two connected on %m/%d/%Y. Their e-mail is #{user.email}") %>
			<% end %>
			<% if catcher_interest %>
				<%= catcher_interest.created_at.strftime("You two connected on %m/%d/%Y. Their e-mail is #{user.email}") %>
			<% end %>
	<%end%>
</div>


