<div class="boot_background" style="background-image: url(<%= asset_path 'devbootcamp.png' %>); background-position:center; "></div>
<div class="signup-buttons">
<%= button_to "I'm a DBc Alumni", new_student_path, :method => 'get' %>
<%= button_to "I'm a DBc Mentor", new_mentor_path, :method => 'get' %>
<%= button_to "I'm a DBc Staff Member", new_staff_path, :method => 'get' %>
<%= button_to "I'm an Employer", new_employer_path, :method => 'get' %>
</div>
