<div class="signup-buttons">

<button class="signup_button" id="alumni"><div class="signup_pic"><%= image_tag("devbootcamp.png", :size => "60x29") %></div><%= link_to "Alumni Signup", new_student_path %></button>
<button class="signup_button" id="mentor"><div class="signup_pic"><%= image_tag("devbootcamp.png", :size => "60x29") %></div><%= link_to "Mentor Signup", new_mentor_path, :name =>"mentor" %></button>
<button class="signup_button" id="staff"><div class="signup_pic"><%= image_tag("devbootcamp.png", :size => "60x29") %></div><%= link_to "Staff Signup", new_staff_path %></button>
<button class="signup_button"  id="employer"><div class="signup_pic"><%= image_tag("devbootcamp.png", :size => "60x29") %></div><%= link_to "Employer Signup", new_employer_path %></button>
</div>
