<% if @company.status == "active" %>

<div class="card_layout">
  <div class="company-card">
    <p><%= image_tag(@company.logo.url, :class => "logo" ) %></p>
    <p id="name"><%= @company.name %></p>
    <%= form_for(@company, :html => { :class => "edit" }) do |f| %>
    <p>Logo:  <%= f.file_field :file%></p>
    <p>Website:<%= f.text_field :website, :placeholder => "Company Website", :required => true %></p>
    <p>Location: <%= f.text_field :location, :placeholder => "Company Location", :required => true %></p>
    <p>Email Contact: <%= f.text_field :initial_email_contact, :placeholder => "Point of Contact (Email)", :required => true %></p>
    <% end %>
  </div>
</div>





<% elsif @user.status == "inactive" %>
<div class="card_layout">
  <div class="inactive-user">This company is inactive.</div>
</div>
<% end %>
