<h1 class="user_home"><%= @groupable %></h1>
<div class="companies-index">
  <div class="filter-columns">
    <div class="user-filtered">
    <ul class="user_list">
      <% @companies.each do |company| %>
        <li id="<%=company.id%>" data-location="<%= company.location %>" data-status="<%= company.status %>">
          <div class="user-div">
            <%= image_tag(company.logo, :width => 35 ) %>
            <div class="user-div-text">
              <%= link_to "#{company.name}", company_path(company.id) %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    </div>
    <div class="location-filters">
      <h3>Locations</h3>
      <button class="clear" >Clear Filters</button>
      <br>
      <% @companies.group('location').select('location').where("location IS NOT NULL").each do |company| %>
        <button class="location_filters" id="<%= company.location %>"><%= company.location %></button>
      <% end %>
    </div>
  </div>
</div>
