<span>Request A Company Profile</span>
<%= form_tag("/companies", :method => "post") do %>
  <%= text_field_tag :name, nil, :placeholder => "Company Name" %>
  <%= text_field_tag :website, nil, :placeholder => "Company Website" %>
  <%= text_field_tag :initial_email_contact, nil, :placeholder => "Point of Contact (Email)" %>
  <%= submit_tag("Request") %>
<% end %>
