<span>Request A Company Profile</span>
<%= form_for :companies, :url => companies_path, :method => "post" do |f| %>
  <%= f.text_field :name, :placeholder => "Company Name", :required => true %>
  <%= f.text_field :website, :placeholder => "Company Website", :required => true %>
  <%= f.text_field :location, :placeholder => "Company Location", :required => true %>
  <%= f.text_field :initial_email_contact, :placeholder => "Point of Contact (Email)", :required => true %>
  <%= f.file_field :file %>
  <%= f.submit "Request" %>
<% end %>
