<% if @company.status == "active" %>

<div class="card_layout">
  <div class="edit-questions">
      <%= link_to "Edit Questions",company_questions_path(@company) %>
  </div>
  <div class="company-card">
    <% if @company.logo.url %>
    <p><%= image_tag(@company.logo.url, :class => "logo" ) %></p>
    <% end %>
    <p id="name"><%= @company.name %></p>
    <p><%= link_to "#{@company.website}", "http://#{@company.website}"  %></p>
    <p><%= @company.location %></p>
  </div>
</div>

<div class="connect-button">
  <% if @no_contacts %>
    <%= form_for :company_contact , :url => connect_employers_path, :method => 'post' do |f| %>
        <%= f.hidden_field :company_id, :value => @company.id %>
        <% if current_user.groupable_type == 'Cohort' %>
          <button>Connect<% f.submit %></button>
        <% end %>
    <% end %>
  <% else %>
<%= @contacted_on.strftime("You two connected on %m/%d/%Y") %>
  <% end %>
</div>

<% elsif @user.status == "inactive" %>
  <div class="card_layout">
  <div class="inactive-user">This company is inactive.</div>
  </div>
<% end %>
