<% if @company.status == "active" %>

<div class="card_layout">
  <% if current_user.groupable.name == @company.name %>
  <div class="edit-questions">
      <p><%= link_to "Edit Questions",company_questions_path(@company) %></p>
      <p><%= link_to "Edit Company Profile", edit_company_path(@company) %></p>
  </div>
  <% end %>
  <div class="company-card">
    <% if @company.logo %>
    <p><%= image_tag(@company.logo, :class => "logo" ) %></p>
    <% end %>
    <p id="name"><%= @company.name %></p>
    <p class="company-info"><%= link_to "#{@company.website}", "#{@company.website}", :class => "company-info"  %></p>
    <p class="company-info"><%= @company.location %></p>
  </div>
</div>

<div class="connect-button">
  <% if @no_contacts %>
    <%= form_for :company_contact , :url => connect_employers_path, :method => 'post' do |f| %>
        <%= f.hidden_field :company_id, :value => @company.id %>
        <% if current_user.groupable_type == 'Cohort' %>
          <button class="connect_button">Connect<% f.submit %></button>
        <% end %>
    <% end %>
  <% else %>
<%= @contacted_on.strftime("You two connected on %m/%d/%Y") %>
  <% end %>
</div>

<% elsif @user.status == "inactive" %>
  <div class="card_layout">
  <div class="inactive-user">This company is inactive.</div>
  </div>
<% end %>
