<div class="boot_background" style="background-image: url(<%= asset_path 'devbootcamp.png' %>); background-position:center;"></div>
<div class="background-white"></div>
<div class="login_button">Login</div>


<%= form_tag("/log_in", :method => "post", :class => "login") do %>
    <%= text_field_tag :email, nil, :placeholder => "Email", :id => "target" %>
    <%= password_field_tag :password, nil, :placeholder => "Password" %>
    <%= submit_tag("Login") %>
<% end %>

<div class="splash_title">
  <h1><%= pluralize(@user_count, 'person') %>. <%= pluralize(@company_count, 'company') %>. </h1>
  <h2>Join the conversation.</h2>
</div>

<%= link_to "Join Now", sign_up_path, :class => "splash_giant_button" %>


<div class="splash_users">
  <div class="splash_whos_using">WHO'S USING DBCONNECT?</div>
  <div class="splash_collection">
    <ul>
      <% 10.times do |image_url| %>
        <li class="splash_profiles"><%= image_tag "#{image_url+1}.jpeg", :size => "64x64"%></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="error_flash">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
</div>
