<div id="user_nav">
  <%= image_tag "devbootcamp.png", :size => "120x57", :class => "main-logo" %>
  <ul class="nav_choices">
    <%= link_to "#" do %>
    <li>Activity</li>
    <% end %>
    <%= link_to "#" do %>
    <li>Companies</li>
    <% end %>
    <%= link_to "#" do %>
    <li>Students</li>
    <% end %>
  </ul>


  <% if current_user %>
    <span class="email">Logged in as <%= link_to current_user.email, user_path(current_user) %></span>
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %>
    <%= link_to "Log in", log_in_path %>
  <% end %>
</div>
