<div id="user_nav">
  <%= link_to(image_tag("devbootcamp.png", :size => "120x57", :class => "main-logo"), root_path, :class => "logo-link") %>
<% if current_user %>
  <ul class="nav_choices">
    <%= link_to users_path(:company => "company") do %>
    <li>Employers</li>
    <% end %>
    <%= link_to users_path(:student => "student") do %>
    <li>Students</li>
    <% end %>
    <% if current_user.groupable_type == "Administration" %>
      <%= link_to "/admin" do %>
      <li>Admin</li>
      <% end %>
    <% end %>
  </ul>
  <%= form_tag results_path, method: :get, class: "nav-search" do  %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by name or location" %>
  <% end %>
<% end %>



  <div class="nav_profile">
  <% if current_user %>

    <span class="email"><%= link_to current_user.email, user_path(current_user) %></span>
    <%= link_to "Log out", log_out_path%>
  <% else %>
    <%= link_to "Signup", sign_up_path, :method => :get, :class => "signup" %>
    <%= form_tag("/log_in", :method => "post", :class => "login") do %>
    <%= text_field_tag :email, nil, :placeholder => "Email" %>
    <%= password_field_tag :password, nil, :placeholder => "Password" %>
    <%= submit_tag("Login") %>
  <% end %>
  <% end %>
  </div>
</div>
